@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}
html,body {font-family:"Noto Sans KR", sans-serif; }
img {display:block; max-width:100%; margin:auto;}

/*** 상단 ***/
header {margin:auto; position:relative;}
header p {font:16px "Noto Sans KR", sans-serif; text-align:center; background:#fe6700; letter-spacing:1px; color:white;}
header p b {font-size:15px; font-weight:400; color:yellow;}

header div {display:flex; justify-content:space-between; align-items:center; padding:20px 10px; }
header button.menu {background:transparent; border:none; font-size:42px; color:#666;}
h2#logo {flex:1; text-align:center; }
h2#logo img {display:block; max-width:100px; margin:auto; transition:0.3s;}
h2#logo img:hover {transform:scale(1.3);}

header h3 a {text-decoration:none; }
header h3 a.telNum {display:none;}
header h3 a.material-icons.phone {display:inline-block; color:#d48e56; font-size:25px; padding:4px; border:2px solid #ffaf79; border-radius:50%; animation: zigzag 3.5s infinite;}

@keyframes zigzag {
		0%	{transform:translateX(-3px);}
		3%  {transform:translateX(3px);}
		6%	{transform:translateX(-3px);}
		9%  {transform:translateX(3px);}
		12%	{transform:translateX(-3px);}
		15% {transform:translateX(3px);}
		18%	{transform:translateX(-3px);}
		21% {transform:translateX(3px);}
		24%	{transform:translateX(-3px);}
		100%{transform:translateX(0px);}
}

/*** 메뉴 ***/
nav#menuAll {border-top:2px solid #d3d3d3; position:relative; z-index:2;}
nav#menuAll> hr { display:none;}


nav#menuAll> ul{position:absolute; width:100%; height:80vh; left:0; top:0; list-style:none;  background:#eee; box-shadow:0 2px 5px rgba(0,0,0, 0.4); display:none;}
nav#menuAll li {/*padding-left:20px;*/}
nav#menuAll li:not(:first-child) {border-top:1px solid #c6c6c6;}
nav#menuAll a {text-decoration:none; }

/**메인메뉴**/
a.mainMenu {color:black;display:block;padding:10px 0 10px 30px; transition:0.3s; text-decoration:none;}
a.mainMenu .more {float:right; color:#888; background:transparent; border:none; padding:3px 15px;}
a.mainMenu hr {display:none;}

/**하위메뉴**/
nav.subMenu {padding:10px 10px 20px 0px; display:none; background:#d3d3d3;}
nav.subMenu a  {display:block; padding:6px 0px 6px 50px; font-size:14px; color:#222;}

#h3_bar {width:124px; height:3px; background:black;}

/****************************/
/***슬라이드영역***/
#slideBg {background-color:#000312;}
#slideArea {width:100vw; max-width:1200px;  margin:auto; overflow:hidden;  position:relative; touch-action: none;  z-index:1;}
#slideArea h2 {display:none;}

/* PC용 슬라이드 이미지 감춤 */
#slidePC {display:none;}


#slideMobile {width:600vw; display:flex; position:relative; left:-100vw; }
#slideMobile a { }
#slideMobile img {width:100vw;}


/*동그라미 원형 위치표시*/
#circle {position:absolute; z-index:2; width:150px; bottom:15px; left:calc((100% - 150px) / 2); display:flex; justify-content:space-between;}
#circle div {width:10px; height:10px; border-radius:5px; background:rgba(255,255,255, 0.3); border:1px solid #555; transition:0.3s;}
#circle div.active {width:35px; background:white; box-shadow:0 0 3px blue;}

/* 양쪽 화살표 (모바일에서는 보이지 않음) */
#arrows { display:none;}

/*** 메인 ***/
main {text-align:justify;}


/*********************************************/

/*** 모집중인 국비지원 및 일반 교육과정 ***/
#course {background:#eee; padding:40px 10px;}
#course> section {max-width:1100px; margin:auto;}

hr.topBar  {max-width:60px; height:5px; background:black;}
h2.bar_h2 {color:#555; font-size:20px; padding-top:3px;}

/*박스 3개 들어 있는 곳*/
#course>section> div {padding-top:20px;}
.courseBox  {flex-basis:32%; font-family:"Nanum Gothic", sans-serif;  background:white; padding-bottom:10px; margin-bottom:20px;}
.courseBox div {position:relative; }
.courseBox div:first-of-type {height:250px; overflow:hidden;}
.courseBox div:last-of-type  {padding:10px; line-height:170%;}
.courseBox div img {width:100%;}

.courseBox h3 {position:absolute; width:100%; padding:25px; background:rgba(0,0,0, 0.7); color:White; font-weight:400; font-size:19px; letter-spacing:1px;}

.courseBox h4 {font-size:15px; letter-spacing:0px; padding-top:20px;}
.courseBox h4:first-of-type {padding-top:10px;}

.courseBox p {font-size:13px;}
.courseBox span {float:right;}


/*** 서울사진영상IT학원의 5대 장점과 오시는 길 ***/
#advantages_map {max-width:1100px; margin:auto; padding:40px 10px;}
#advantages_map> div {}
#advantages_map section {position:relative;}
#advantages_map section>img {width:100%;}

/*5대 장점*/
#advantages_map ul {position:absolute; width:100%; padding:20px 50px; background:rgba(150, 106, 69, 0.85); color:white; text-shadow:0 0 3px brown; list-style:url("../index_img/icon_arrow_orange.png"); line-height:200%;}
 

/*카카오상담하기*/
#advantages_map h3 {position:absolute; top:120%; left:15%; right:15%;}

/*구글지도*/
#advantages_map iframe {border:none; width:100%; height:40vh; margin-top:170px;}



/*** 하단 ***/
#footerTopLine {width:100%; height:3px; background:#eee; margin-top:30px;}
#footerTopLine+ div { }
footer {max-width:1100px; margin:auto; padding:30px 15px;  display: flex; flex-direction:column;}

/*하단 로고*/
footer h2 {order:2; padding:50px 0 20px 30px;}
footer h2 a img {margin:auto;}

/*주소... */
footer p {order:3; font-size:12px; color:black; line-height:180%;}

footer div  {order:1; position:relative; font-size:12px;  line-height:200%; color:black;  padding-top:110px;}

/*전화기 아이콘*/
a.footerPhone {position:absolute; top:20px; left:40%; right:40%; font-size:80px; text-decoration:none;   color:#afafaf; display:block; animation:zigzag 3s infinite; }

/*전화번호 전화기*/
footer div  b {font-size:13px; display:inline-block; width:60px;}
footer div  b:first-of-type {padding-bottom:10px;}
footer div strong {font-size:40px; font-weight:100; display:inline-block; transform:translateY(3px);}
footer div a {text-decoration:none;  color:black; }


.ui-loader> h1 {display:none;}


/******미디어규칙 (브라우저 넓이 500픽셀부터 적용) *******/
@media (min-width:600px) {

	/*** 모집중인 국비지원 및 일반 교육과정 ***/	
	#course>section> div {display:flex; flex-wrap:wrap; justify-content:space-between;}
	.courseBox div {height:initial;}
	.courseBox div:first-of-type {height:auto; overflow:auto;}
	.courseBox {flex-basis:48vw;}
	
	/***하단***/
	footer div  {padding-top:0px;}	
	/*하단 전화기*/	
	a.footerPhone {top:0px; left:auto; right:20%; }	
	/*하단 로고*/
	footer h2 {padding:60px 0; }
	footer h2 a img {margin-left:0; margin-right:auto;}
	/*주소... */
	footer p {margin:-130px 0 0 35%;}
	
}	



